<template name="hello">
    <h1>Welcome to Meteor!</h1>

    <p>Click the button to dynamically switch the CSS file used for this template.</p>

    <p>If you have two CSS files, one for Left-To-Right and one for Right-ToLeft, this code can be a starting point to
        dynamically switch the orientation based on a Meteor Session variable.</p>
    <button>Click Me to toggle CSS file</button>
    <p>You've pressed the button {{ counter }} times.</p>

    <p>Left-To-Right indicator: {{ ltr }}</p>
</template>