<head>
    <!--[if IE 8]> <meta name="ie-8"> <![endif]-->
    <!--[if IE 9]> <meta name="ie-9"> <![endif]-->
    <!--[if IE 10]> <meta name="ie-10"> <![endif]-->

    <meta charset="utf-8"/>
    <title>Agent Online</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
              rel="stylesheet"
              type="text/css">
        <link href="/assets/metronic/theme_rtl/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
              rel="stylesheet"
              type="text/css">
        <link href="/assets/metronic/theme_rtl/assets/global/plugins/bootstrap/css/bootstrap.min.css"
              id="headLinkCss_bootstrap"
              rel="stylesheet"
              type="text/css">
        <link href="/assets/metronic/theme_rtl/assets/global/plugins/uniform/css/uniform.default.css"
              rel="stylesheet"
              type="text/css">
        <link href="/assets/metronic/theme_rtl/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
              id="headLinkCss_bootstrap-switch"
              rel="stylesheet"
              type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN PAGE STYLES -->
        <link href="/assets/metronic/theme_rtl/assets/admin/pages/css/tasks.css"
              id="headLinkCss_tasks"
              rel="stylesheet"
              type="text/css"/>
    <!-- END PAGE STYLES -->

    <!-- BEGIN THEME STYLES -->
        <link href="/assets/metronic/theme_rtl/assets/global/css/components-rounded.css"
              id="style_components"
              rel="stylesheet"
              type="text/css"/>
        <link href="/assets/metronic/theme_rtl/assets/global/css/plugins.css"
              id="headLinkCss_plugins"
              rel="stylesheet"
              type="text/css"/>
        <link href="/assets/metronic/theme_rtl/assets/admin/layout4/css/layout.css"
              id="headLinkCss_layout"
              rel="stylesheet"
              type="text/css"/>
        <link href="/assets/metronic/theme_rtl/assets/admin/layout4/css/themes/light.css"
              id="style_color"
              rel="stylesheet"
              type="text/css"/>
        <link href="/assets/metronic/theme_rtl/assets/admin/layout4/css/custom.css"
              id="headLinkCss_custom"
              rel="stylesheet"
              type="text/css"/>
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="/assets/metronic/theme_rtl/assets/global/plugins/respond.min.js"></script>
        <script src="/assets/metronic/theme_rtl/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
    <!-- END JAVASCRIPTS -->

</head>
