<template name="appLanguageBar">
<!--    <span>{{> i18n_dropdown }}</span>
    <span>{{> i18n_buttons }} </span>-->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <li class="dropdown dropdown-language">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
            <img alt="" src="/assets/metronic/theme_rtl/assets/global/img/flags/gb.png">
						<span class="langname">
                            {{ currentLanguageTag }}  </span>
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" id="languageDE">
                    <img alt="" src="/assets/metronic/theme_rtl/assets/global/img/flags/de.png"> {{_ "German" }} </a>
            </li>
            <li>
                <a href="#" id="languageEN">
                    <img alt="" src="/assets/metronic/theme_rtl/assets/global/img/flags/gb.png"> {{_ "English" }} </a>
            </li>
        </ul>
    </li>
</template>