<template name="appPageBreadcrumb">
    <ul class="page-breadcrumb breadcrumb">
        {{#each breadcrumbStart }}
            <li>
                {{#if $eq routeName '#'}}
                    {{ text }}
                {{else}}
                    <a href="{{ href routeName text }}">{{ text }}</a>
                {{/if}}
                <i class="fa fa-circle"></i>
            </li>
        {{/each}}
        {{#each breadcrumbEnd }}
            <li>
                <a href="{{ href routeName }}">{{ text }}</a>
            </li>
        {{/each}}
    </ul>
</template>